
body{
  /* background-color: grey; */
  color: white;
  background-image: url(./images/mountain.jpg);
}

.head{
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.intro{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
}

.gap{
  margin-left: 1rem;
}

.nav{
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}


a{
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.lets-talk{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.contact-info{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projects-heading{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.projects{
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.3));
  backdrop-filter: blur(4px);
  margin-top: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.project-about{
  margin-bottom: 1rem;
}

.wq-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%
}

.wq-pic{
  height: 12rem;
  width: 14rem;
  margin-right: 3rem;
}

.il-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%
}

.il-pic {
  height: 12rem;
  width: 14rem;
  margin-left: 3rem;
}

.project-btns{
  margin-bottom: 0.7rem;
}

.code-btn{
  margin-left: 1rem;
}


.resume{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.btn{
  padding: 1rem 3rem ;
}

.skills{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1rem;
}

.about{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1rem;
}

.about-p{
  margin-left: 20%;
  margin-right: 20%;
}